
@model IEnumerable<WebBanHangOnline.Models.EF.OrderDetail>
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">
<table class="table table-bordered ">
    <thead class="thead-dark">
        <tr>
            <th>Sản phẩm</th>
            <th>Số lượng</th>
            <th>Giá</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Product.Title</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price.ToString("N0")đ</td>
                    <td>@((item.Quantity * item.Price).ToString("N0"))đ</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">Không có sản phẩm nào trong đơn hàng.</td>
            </tr>
        }
    </tbody>
</table>