
@{
    ViewBag.Title = "Đặt hàng thành công";
}


<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->

            <div class="row">
                <div class="col-md-12" id="load_data">
                    <h2>Bạn đã mua hàng thành công</h2>
                </div>

            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script>
        $(document).ready(function () {
            ShowCount();
            $('body').on('click', '.btnAddToCart', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var quantity = 1;
                var tQuantity = $('#quantity_value').text();
                if (tQuantity != '') {
                    quantity = parseInt(tQuantity);
                }

                $.ajax({
                    url: '/shoppingcart/addtocart',
                    type: 'POST',
                    data: { id: id, quantity: quantity },
                    success: function (rs) {
                        if (rs.Success) {
                            $('#checkout_items').html(rs.Count);
                            alert(rs.msg);
                        } else {
                            if (rs.code == -2) {
                                alert(rs.msg); // Hiển thị thông báo lỗi về số lượng
                            } else {
                                alert("Có lỗi xảy ra khi thêm sản phẩm vào giỏ hàng.");
                            }
                        }
                    }
                });
            });
            $('body').on('click', '.btnUpdate', function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                var quantity = $('#Quantity_' + id).val();
                Update(id, quantity);

            });
            $('body').on('click', '.btnDeleteAll', function (e) {
                e.preventDefault();
                var conf = confirm('Bạn có chắc muốn xóa hết sản phẩm trong giỏ hàng?');
                //debugger;
                if (conf == true) {
                    DeleteAll();
                }

            });

            $('body').on('click', '.btnDelete', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var conf = confirm('Bạn có chắc muốn xóa sản phẩm này khỏi giỏ hàng?');
                if (conf == true) {
                    $.ajax({
                        url: '/shoppingcart/Delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.Success) {
                                $('#checkout_items').html(rs.Count);
                                $('#trow_' + id).remove();
                                LoadCart();
                            }
                        }
                    });
                }

            });
        });



        function ShowCount() {
            $.ajax({
                url: '/shoppingcart/ShowCount',
                type: 'GET',
                success: function (rs) {
                    $('#checkout_items').html(rs.Count);
                }
            });
        }
        function DeleteAll() {
            $.ajax({
                url: '/shoppingcart/DeleteAll',
                type: 'POST',
                success: function (rs) {
                    if (rs.Success) {
                        LoadCart();
                    }
                }
            });
        }
        function Update(id, quantity) {
            $.ajax({
                url: '/shoppingcart/Update',
                type: 'POST',
                data: { id: id, quantity: quantity },
                success: function (rs) {
                    if (rs.Success) {
                        LoadCart();
                    } else {
                        alert(rs.msg || "Có lỗi xảy ra khi cập nhật số lượng.");
                    }
                }
            });
        }

        function LoadCart() {
            $.ajax({
                url: '/shoppingcart/Partial_Item_Cart',
                type: 'GET',
                success: function (rs) {
                    $('#load_data').html(rs);
                }
            });
        }


    </script>
}